<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
<h3>Добавить пользователя</h3>
<form th:method="POST" th:action="@{/}" th:object="${user}">
    <br>
    <input th:field="*{firstName}" type="text" name="firstName" placeholder="Имя" required="">
    <br>
    <input th:field="*{lastName}" type="text" name="lastName" placeholder="Фамилия" required="">
    <br>
    <input th:field="*{age}" type="number" name="age" placeholder="Возраст" required="">
    <br>
    <input type="submit" value="Добавить"/>
</form>
<a href="/">Выйти</a>
</body>
</html>